# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
.env.*
client/.env
client/.env.*
server/.env
server/.env.*

# Build folders
client/dist/
client/build/
server/dist/
dist/

# macOS files
.DS_Store
*/.DS_Store
*/**/.DS_Store